@model ReservationInViewModel

@{
    ViewData["Title"] = "Create Reservation";
}

<h1>Reservation</h1>
<form method="post" enctype="multipart/form-data" asp-action="Create">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Create Reservation</h1>
        </div>
        <div class="mb-3">
           @* <div asp-validation-summary="All" class="text-danger"></div>*@
            <label asp-for="StartDateTime" class="control-label"></label>
            <input asp-for="StartDateTime" class="form-control" type="datetime-local"/>
            <span asp-validation-for="StartDateTime" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Duration" class="control-label"></label>
            <input asp-for="Duration" class="form-control" type="number"/>
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="mb-3">            
            <label asp-for="NumberOfGuests" class="control-label"></label>
            <input asp-for="NumberOfGuests" class="form-control" type="number"/>
            <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
        </div>
        <div class="mb-3">            
            <label asp-for="AdditionNotes" class="control-label"></label>
            <input asp-for="AdditionNotes" class="form-control"/>
            <span asp-validation-for="AdditionNotes" class="text-danger"></span>
        </div>
             <div class="form-group"> 
                     <label asp-for="Area" class="control-label"></label> 
                     <select asp-for="Area" asp-items="ViewBag.TableArea" class="form-control">
                         <option value="">Select Table Area</option>
                     </select>  
             </div>
             <div class="form-group"> 
                     <label asp-for="TableID" class="control-label"></label> 
                     <select asp-for="TableID" class="form-control"></select> 
             </div>
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-primary">Back To List</a>
    </div>
</form>
@*
@section Scripts{
    <partial name="_ValidationscriptsPartial" />
}*@

              @section Scripts{ 
 <script>
     $(function () {
         $("select#Area").change(function () {
             var area = $(this).val();

             $("select#TableID").empty();

             $.getJSON(`/Reservation/GetTableIdByArea?area=${area}`, function (data) {
                 //console.log(data);
                 $.each(data, function (i, item) {
                     $("select#TableID").append(`<option value="${item.value}">${item.text}</option>`);
                 });
             });
         })
     });
 </script>
 }