@model Reservation
<h1>Reservation</h1>
<form method="post" asp-action="Delete">

    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Delete Reservation</h1>
        </div>
        <div class="mb-2">
            <label>ID</label>
            <input asp-for="ReservationId" disabled class="form-control" />
        </div>
        <div class="mb3">
            <label >Start Date Time</label>
            <input asp-for="StartDateTime" disabled class="form-control"/>
        </div>
        <div class="mb3">
            <label >Duration</label>
            <input asp-for="Duration" disabled class="form-control"/>
        </div>
        <div class="mb3">
            <label >Number of Guests</label>
            <input asp-for="NumberOfGuests" disabled class="form-control"/>
        </div>
        <div class="mb3">
            <label >Reservation status</label>
            <input asp-for="ReservationStatus" disabled class="form-control"/>
        </div>
        <div class="mb3">
            <label >Addition Notes</label>
            <input asp-for="AdditionNotes" disabled class="form-control"/>
        </div>
        <div class="mb3">
            <label >Booked Date Time</label>
            <input asp-for="BookingDateTime" disabled class="form-control"/>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Delete</button>
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-primary">Back To List</a>
    </div>
</form>

