@model ReservationIndex


<h1>Reservation</h1>
<form method="post" enctype="multipart/form-data" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Update Reservation</h1>
        </div>
        <input asp-for="ReservationId" hidden/>
        <input asp-for="UserID" hidden/>
      <input asp-for="FirstName" hidden/>
      <input asp-for="LastName" hidden/>
        <div class="mb-2">
           @* <div asp-validation-summary="All" class="text-danger"></div>*@
            <label asp-for="StartDateTime" class="control-label"></label>
            <input asp-for="StartDateTime" class="form-control" type="datetime-local"/>
            <span asp-validation-for="StartDateTime" class="text-danger"></span>
        </div>
        <br/>
        <div class="mb3">
            <label asp-for="Duration" class="control-label"></label>
            <input asp-for="Duration" class="form-control" type="number"/>
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <br/>
        <div class="mb3">            
            <label asp-for="NumberOfGuests" class="control-label"></label>
            <input asp-for="NumberOfGuests" class="form-control" type="number"/>
            <span asp-validation-for="NumberOfGuests" class="text-danger"></span>
        </div>
        <div class="mb3">            
            <label asp-for="AdditionNotes" class="control-label"></label>
            <input asp-for="AdditionNotes" class="form-control"/>
            <span asp-validation-for="AdditionNotes" class="text-danger"></span>
        </div>
        <br/>
             <div class="form-group"> 
                     <label asp-for="Area" class="control-label"></label> 
                     <select asp-for="Area"  class="form-control" asp-items="@(new SelectList(ViewBag.TableArea, "Text", "Value", Model.Area))">
                         <option value="">Select Table Area</option>                         
                     </select>  
             </div>
             <div class="form-group"> 
                     <label asp-for="TableID" class="control-label"></label> 
                     <select asp-for="TableID" class="form-control">
                         <option value="@Html.DisplayFor(model => model.TableID)" selected>@Html.DisplayFor(model => model.TableID)</option>
                     </select> 
             </div>
        <br />
        @if (User.IsInRole("member"))
        {
            <input asp-for="ReservationStatus" hidden />
        }else{
            <div class="form-group"> 
                     <label asp-for="ReservationStatus" class="control-label"></label> 
                     <select asp-for="ReservationStatus"  class="form-control" asp-items="new SelectList(ViewBag.Status,Model.ReservationStatus)">
                         <option value="">Select Reservation Status</option> 
                     </select> 
             </div>
        }
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Update</button>
        <a asp-controller="Reservation" asp-action="Index" class="btn btn-primary">Back To List</a>
    </div>
</form>
@*
@section Scripts{
    <partial name="_ValidationscriptsPartial" />
}*@

              @section Scripts{ 
 <script>
     $(function () {
         $("select#Area").change(function () {
             var area = $(this).val();

             $("select#TableID").empty();

             $.getJSON(`/Reservation/GetTableIdByArea?area=${area}`, function (data) {
                 //console.log(data);
                 $.each(data, function (i, item) {
                     $("select#TableID").append(`<option value="${item.value}">${item.text}</option>`);
                 });
             });
         })
     });
 </script>
 }