@model RegistrationModel
@{
}
<h1>System User</h1>
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create User</h2>
        </div>
        <div class="mb-2">
            @* <div asp-validation-summary="All" class="text-danger"></div>*@
            <label>First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb3">
            <label>Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb3">
            <label>User Name</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb3">
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb3">
            <label>Password</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb3">
            <label>Confirm Password</label>
            <input type="password" asp-for="PasswordConfirm" class="form-control" />
            <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back To Home</a>
    </div>
</form>
@*
@section Scripts{
    <partial name="_ValidationscriptsPartial" />
}*@