@model ReservationApp.Models.LoginModel;
@{
    ViewData["Title"] = "Login";
}

@*<h1>Login</h1>*@
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h1 class="text-primary">Login</h1>
        </div>
        <div class="mb-3">
           @* <div asp-validation-summary="All" class="text-danger"></div>*@
            <label>User Name</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>        
        <div class="mb-3">
            <label >Password</label>
            <input type="password" asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Login</button>
        <a asp-controller="User" asp-action="MemberRegistration" class="btn btn-primary">Sign Up</a>
    </div>
</form>

