@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="text-align:center; width:100%">
    <h1 class="display-4">Bean Scene Reservation System</h1>
    <br/>
    <img src="./Image/bean-scene-dark.png" alt="bean scene log" />
    <br/>
    <br/>
    <h2>As a member please register first to make a reservation.</h2>
    <br/>
    <h2>As a staff please login first to capture a reservation.</h2>
    <br/>
    <h2>As an admin please login first to manage the system.</h2>
    <br/>
    <div style="margin:0 auto;width:100%;text-align:center">
    <table class="table-bordered" style="margin:0 auto;width:500px">
        <thead>
            <tr>
            <th width="33%">Account</th>
            <th width="33%">User Name</th>
            <th width="34%">Password</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Admin</td>
                <td>admin</td>
                <td>Admin@123456</td>
            </tr>
              <tr>
                <td>Staff</td>
                <td>staff</td>
                <td>Staff@123456</td>
            </tr>
                <tr>
                <td>Member</td>
                <td>member</td>
                <td>Member@123456</td>
            </tr>
        </tbody>

    </table>
    </div>
</div>
