@using Microsoft.AspNetCore.Identity
@using ReservationApp.Data;
@inject UserManager<ApplicationUser> userManager
@{
    string userName = User.Identity.Name;
    ApplicationUser user = new ApplicationUser();
    ApplicationUser currentUser = new ApplicationUser();
    string userRole = "";
    if (!string.IsNullOrEmpty(userName))
    {
        user = userManager.GetUserAsync(User).Result;
        var userID = user.Id;
         currentUser = userManager.Users.First(m => m.Id == userID);
        
        if (User.IsInRole("staff"))
        {
            userRole = "Staff";
        }
        if (User.IsInRole("admin"))
        {
            userRole = "Admin";
        }
        if (User.IsInRole("member"))
        {
            userRole = "Member";
        }
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ReservationlApp</title>
    <link rel="stylesheet" href="~/css/bootstrapTheme.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ReservationApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Reservation" asp-action="Index">Reservation</a>
            </li>
            @if (User.IsInRole("admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Sitting" asp-action="Index">Sitting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="SittingTable" asp-action="Index">SittingTable</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="GetAllMember">Member List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="GetAllStaff">Staff List</a>
                </li>
            }
            @if (User.IsInRole("staff"))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="GetAllMember">Member List</a>
                </li>
            }
           
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">About</a>
            </li>
            </ul>
            <ul>
            @if (string.IsNullOrEmpty(userName))
            {
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="User" asp-action="MemberRegistration">Register</a>
                </li>
             }
            </ul>
            
            <ul>
                @if (!string.IsNullOrEmpty(userName))
                {
                     <li class="nav-item">
                        <a class="nav-link">@currentUser.FirstName @currentUser.LastName (@userRole)</a>
                    </li>                   
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="ChangePassword">Change Password</a>
                    </li>
                }
            </ul>

            </div>
           </div>
       </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <partial name="_ViewNotification"/>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ReservationApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
