
@if (TempData["success"]!=null)
{
    <h5 class="text-sm-end btn btn-outline-primary mx-3">@TempData["success"]</h5>
}
@if (TempData["msg"] !=null)
{
    <h5 class="text-sm-end btn btn-outline-primary mx-3">@TempData["msg"] </h5>
}

@if (TempData["error"]!=null)
{
    <h5 class="text-sm-end btn btn-outline-primary mx-3">@TempData["success"]</h5>
}